OPENAI_API_KEY=
TRANSLATION_PROVIDER=indictrans2_local
INDICTRANS2_API_URL=https://crevice-darkened-sacrifice.ngrok-free.dev
LLM_PROVIDER=groq
GROQ_MODEL=openai/gpt-oss-120b
GROQ_API_KEY=
PROCESSOR_PATH=models/santhali_wav2vec2_processor
ASR_PROCESSOR_PATH=./models/santhali_asr_final_5k
ASR_MODEL_PATH=./models/santhali_asr_final_5k

BHASHINI_USER_ID=
BHASHINI_API_KEY=
BHASHINI_PIPELINE_ID=
TTS_PROVIDER=none

SARVAM_API_KEY=
SARVAM_TTS_MODEL="bulbul:v3"

HO_ASR_MODEL_PATH=./models/ho_asr
